<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="CurrentLink" value="http://localhost:8888/"/>
  <add key="ReportFolder" value="/Reports"/>

  <add key="SMTPHost" value="smtp.gmail.com"/>
  <add key="SMTPPort" value="587"/>
  <add key="FromEmailAddress" value="khanhle0301.it@gmail.com"/>
  <add key="FromEmailPassword" value="Z00hoilamgi00z$"/>
  <add key="FromName" value="eParking"/>

</appSettings>