<section class="content-header">
    <h1>
        Quản lý thẻ
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li><a href="#">Danh mục</a></li>
        <li class="active"> Quản lý thẻ</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-body">
            <di class="row">
                <div class="col-md-6">
                    <input type="text" class="form-control" ng-model="filterExpression" placeholder="Từ khóa">
                </div>
                <div class="col-md-6">
                    <button class="btn btn-danger" ng-click="deleteMultiple()" id="btnDelete" disabled>Hủy</button>
                </div>
            </di>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <tr>
                            <td><input name="all" type="checkbox" ng-click="selectAll()" /></td>
                            <th style="width: 30%">Mã thẻ</th>
                            <th style="width: 30%">Ngày tạo</th>
                            <th style="width: 30%">Ngày cập nhật</th>
                            <th style="width: 10%">Trạng thái</th>
                        </tr>
                        <tr ng-repeat="item in data| filter:filterExpression">
                            <td><input type="checkbox" ng-model="item.checked" name="all" /></td>
                            <td>{{item.Id}}</td>
                            <td>{{item.NgayTao | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                            <td>{{item.NgaySua | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                            <td>
                                <span ng-class="{'badge bg-red':item.DangSuDung==false,'badge bg-green':item.DangSuDung==true}">
                                    {{item.DangSuDung | statusFilter}}
                                </span>
                            </td>
                        </tr>
                        <tfoot>
                            <tr>
                                <td colspan="5"><span class="pull-right">Trang: {{page+1}} - Tổng số bản ghi: {{totalCount}}</span></td>
                            </tr>
                        </tfoot>
                    </table>
                    <div ng-if="loading">
                        <div class="col-xs-4"></div>
                        <div class="col-xs-4">
                            <i class="fa fa-refresh fa-4x fa-spin"></i> <label class="label label-primary">Đang tải...</label>
                        </div>
                        <div class="col-xs-4"></div>
                    </div>
                </div>
            </div>
        </div><!-- /.box-body -->
        <div class="box-footer clearfix">
            <pager-directive page="{{page}}" custom-path="{{customPath}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="getThes(page)"></pager-directive>
        </div><!-- /.box-footer-->
    </div>
</section><!-- /.content -->