<section class="content-header">
    <h1>
        Sản phẩm
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li><a href="#">Sản phẩm</a></li>
        <li class="active">Danh sách</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Sản phẩm</h3>
            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                <button class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <div class="box-body">
            <di class="row">
                <form class="form-inline">
                    <div class="input-group">
                        <div class="input-group-addon">Từ</div>
                        <input type="date" name="batDau" class="form-control" required ng-model="batDau">
                    </div>
                    <div class="input-group">
                        <div class="input-group-addon">Đến</div>
                        <input type="date" name="ketThuc" class="form-control" required ng-model="ketThuc">
                    </div>
                    <div class="input-group">
                        <select class="form-control" ng-model="loai" ng-change="switchSelect()">
                            <option value="xedangky">Xe đăng ký</option>
                            <option value="xehuy">Xe hủy</option>
                        </select>
                    </div>
                    <button class="btn btn-default" id="btnThongKe" ng-click="search()">Tìm</button>
                </form>
            </di>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <tr>
                            <th>STT</th>
                            <th>Biển số</th>
                            <th>Họ tên</th>
                            <th>Ngày đăng ký</th>
                            <th>Giá vé</th>
                            <th>LoaiXe</th>
                            <th>Danh mục</th>
                        </tr>
                        <tr ng-repeat="item in data">
                            <td>{{item.STT}}</td>
                            <td>{{item.BienSo}}</td>
                            <td>{{item.HoTen}}</td>
                            <td>{{item.NgayDangKy}}</td>
                            <td>{{item.GiaVe}}</td>
                            <td>{{item.LoaiXe}}</td>
                            <td>{{item.DanhMuc}}</td>
                        </tr>
                        <tfoot>
                            <tr>
                                <td colspan="7"><span class="pull-right">Trang: {{page+1}} - Tổng số bản ghi: {{totalCount}}</span></td>
                            </tr>
                        </tfoot>
                    </table>
                    <div ng-if="loading">
                        <div class="col-xs-4"></div>
                        <div class="col-xs-4">
                            <i class="fa fa-refresh fa-4x fa-spin"></i> <label class="label label-primary">Đang tải...</label>
                        </div>
                        <div class="col-xs-4"></div>
                    </div>
                </div>
            </div>
        </div><!-- /.box-body -->
        <div class="box-footer clearfix">
            <pager-directive page="{{page}}" custom-path="{{customPath}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="getThongKes(page)"></pager-directive>
        </div><!-- /.box-footer-->
    </div>
</section><!-- /.content -->